---
import Layout from '../layouts/Layout.astro';
import ArrowLeft from '@/icons/ArrowLeft.astro';
import Hamburger from '@/icons/Hamburger.astro';
---

<Layout title="StudioCMS Sidebar POC">
	<main>
		<div id="sidebars"> <!-- class="inner" to show inner navbar, remove to show outer, "hidden" to hide entire navbar, remove to show -->
			<div id="sidebar-outer">
				Sidebar (Outer)
				<button id="swap-to-inner">
					Click on link to content manager
				</button>
			</div>
			<div id="sidebar-inner">
				<button id="navigate-to-outer-button">
					<ArrowLeft />
				</button>
				Sidebar (Inner)
				<button id="swap-to-content">
					Click on page to edit
				</button>
			</div>
		</div>
		<div id="page-content">
			<button id="show-navbar-button">
				<Hamburger />
			</button>
			Page Content
		</div>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: row;
		height: 100dvh;
		width: 100dvw;
		overflow: hidden;
	}

	#sidebars {
		--sidebars-container-width: calc((280px + 1px) * 2);
		display: flex;
		align-items: center;
		width: fit-content;
		width: var(--sidebars-container-width);
		min-width: var(--sidebars-container-width);
		overflow: hidden;
		transition: all .15s ease;
		z-index: 10;
	}

	#sidebars.active {
		transform: translateX(0%);
	}

	#sidebar-outer {
		height: 100%;
		min-width: 280px;
		width: 280px;
		background-color: var(--background-step-1);
		border-right: 1px solid var(--border);
		gap: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 10;
		transition: all .15s ease;
	}

	#page-content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	#sidebar-inner {
		min-width: 280px;
		width: 280px;
		height: 100%;
		background-color: var(--background-step-2);
		border-right: 1px solid var(--border);
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		z-index: 5;
		position: relative;
		transition: all .15s ease;
	}

	#navigate-to-outer-button, #show-navbar-button {
		display: none;
		position: absolute;
		top: 1rem;
		left: 1rem;
		padding: .25rem;
		background-color: var(--background-step-3);
		cursor: pointer;
		border-radius: 8px;
		align-items: center;
		color: white;
		outline: none;
		border: none;
		height: 32px;
		width: 32px;
	}

	#show-navbar-button {
		z-index: 2;
	}

	#swap-to-inner, #swap-to-content {
		display: none;
	}

	@media screen and (max-width: 1200px) {
		#sidebars {
			--sidebars-container-width: calc(280px + 1px);
		}

		#swap-to-inner {
			display: block;
		}

		#sidebars.inner {
			#sidebar-outer, #sidebar-inner {
				transform: translateX(-100%);
			}
		}

		#navigate-to-outer-button {
			display: flex;
		}
	}

	@media screen and (max-width: 840px) {
		#sidebars {
			transform: translateX(-100%);
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}

		#show-navbar-button {
			display: flex;
		}

		#swap-to-content {
			display: block;
		}
	}
</style>
<script>
	const sidebarContainer = document.querySelector<HTMLDivElement>('#sidebars')!;
	const navToInnerBtn = document.querySelector<HTMLButtonElement>('#swap-to-inner')!;
	const navToContentBtn = document.querySelector<HTMLButtonElement>('#swap-to-content')!;
	const backToOuterBtn = document.querySelector<HTMLButtonElement>('#navigate-to-outer-button')!;
	const openNavbarBtn = document.querySelector<HTMLButtonElement>('#show-navbar-button')!;

	navToInnerBtn.addEventListener('click', () => {
		sidebarContainer.classList.add('inner');
	});

	navToContentBtn.addEventListener('click', () => {
		sidebarContainer.classList.remove('active');
	});
	
	backToOuterBtn.addEventListener('click', () => {
		sidebarContainer.classList.remove('inner');
	});

	openNavbarBtn.addEventListener('click', () => {
		sidebarContainer.classList.add('inner');
		sidebarContainer.classList.add('active');
	});

	openNavbarBtn.addEventListener('click', () => {
		sidebarContainer.classList.add('inner');
		sidebarContainer.classList.add('active');
	});
</script>